<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CountryServlet</servlet-name>
  	<display-name>CountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.worldhourproject.utility.CountryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MainServlet</servlet-name>
  	<display-name>MainServlet</display-name>
  	<description></description>
  	<servlet-class>worldhourproject.controller.MainServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCountryServlet</servlet-name>
  	<display-name>AddCountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.worldhourproject.utility.AddCountryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCountryServlet</servlet-name>
  	<display-name>EditCountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.worldhourproject.utility.EditCountryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCountryServlet</servlet-name>
  	<display-name>DeleteCountryServlet</display-name>
  	<description></description>
  	<servlet-class>com.worldhourproject.utility.DeleteCountryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CountryServlet</servlet-name>
  	<url-pattern>/CountryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MainServlet</servlet-name>
  	<url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCountryServlet</servlet-name>
  	<url-pattern>/addcountry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCountryServlet</servlet-name>
  	<url-pattern>/editcountry</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCountryServlet</servlet-name>
  	<url-pattern>/deletecountry</url-pattern>
  </servlet-mapping>
</web-app>
